// file base da esportare su TUTTI i fogli di stile dei componenti

// set font here
$regular: "Raleway-Regular";
$regular-semibold: "Raleway-SemiBold";
$regular-bold: "Raleway-Bold";

// set base font
$size-base: 1em; // 16px
$size-medium: 1.125em;
$size-title: 1.75em;
$size-small: 0.875em;

// color
$maincolor: #4371C4;
$text-color: #1D1D1D;

// utility
$padding-md: 0.5em;
$padding-sm: 0.3em;
$padding-lg: 1.2em;

$box-shadow: 3px 2px 47px -10px rgba(0,0,0,0.10);
